.button {
  width: 100%;
  font-family: $ProximaRegular;


}

//WORK WITH US
.work-with-us:hover{
    transition: 0.3s;
    background-color: darken( $color-button-background, 15% );
}
.work-with-us {
  width: 210px;
  padding-top: 16px;
  padding-bottom: 10px;
  border-radius: 30px;
  background-color: $color-button-background;
  text-align: center;

  .work > a {
    color: white;
    font-size: 22px;
  }
}

.work-with--small:hover{
  transition: 0.5s;
  background-color: darken( $color-button-background, 15% );
}
.work-with--small {
  margin: 0 auto;
  width: 175px;
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 30px;
  background-color: $color-button-background;
  text-align: center;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.9);
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.9);
  .work > a {
    font-family: $ProximaLight;
    color: white ;
    //color: #dddcdc ;
    font-size: 19px;
   // letter-spacing: 0.5px;

  }
}



//Scroll down
.scroll:hover{
  transition: 0.3s;
  background-color: darken( white, 15% );
}
.scroll {
  max-width: 125px;
  padding-right: 12px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: $ProximaLight;
  //letter-spacing: 1px;
  //word-spacing: 2px;
  .fa-arrow-down{
    margin-left: 1px;
  }
}



//Learn more
.learn-more:hover{
  transition: 0.3s;
  background-color: darken( $color-button-background, 15% );
}
.learn-more {
  width: 120px;
  padding-bottom: 4px;
  padding-top: 5px;
  border-radius: 20px;
  background-color: $color-button-background;
  text-align: center;

  .learn{
    font-size: 16px;
    font-family: $ProximaBold;
    color: white ;
  }
}

//View more work
.view-work:hover{
  transition: 0.3s;
  background-color: darken( $color-button-background--active, 15% );
}
.view-work {
 // margin: 0 auto;
  width: 185px;
  padding-bottom: 9px;
  padding-top: 9px;
  border-radius: 20px;
  background-color: $color-button-background--active;

  .view > a {
    margin-left: 17px;
    color: white;
    font-size: 18px;
  }
}
//See all client
.all-client:hover{
  transition: 0.3s;
  background-color: darken( #dddcdc, 15% );
}

.all-client {
  width: 185px;
  padding-bottom: 9px;
  padding-top: 11px;
  border-radius: 20px;
  background-color: #dddcdc;

  .client > a {
    margin-left: 32px;
    color: #a59d9d;
    font-size: 18px;
  }
  .client > a:hover {
    transition: 0.3s;
    color: white;
  }

  .fa-arrow-right{
    margin-left: 20px;
  }
}