.header {
  max-width: 1170px;
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  //background-color: #fff;

  .header__logo-menu{
    //color: #ffffff;
    color: red;
    font-size: 24px;
    font-family: $NautilusRegular;
  }
}

.list-menu .item-menu{
  padding: 5px;
  margin-left: 5px;
  color: white;
  background-color:$color-button-background;
}

/*
a{
  text-decoration:none;
  position:relative;
}

a:before{
  position:absolute;
  bottom: -10px;
  content: " ";
  border-top: 5px solid #ccc;
  left:50%;
  width:0%;
  transition: all 0.3s;
}

a:hover:before{
  width:100%;
  left:0%
}

*/

.list-menu{
}

.item-menu {
  line-height: 1;
  float: left;
}
.item-menu:before {
  //text-decoration: overline;
  display: block;
  content: "";
  height: 5px;
  width: 0%;
  background-color: #ffffff;
  transition: width .3s ease-in-out;
}
.item-menu:hover{
 // font-weight: 800;

}
.item-menu:hover:before,
.item-menu:focus:before {
  width: 100%;
}

.logo-menu{
  display: inline-block;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}



.bgc{
  padding-bottom: 56.4%;
  //height: 660px;
 // width: 100%;
  background-image: url("/images/menu.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  //background-size: cover;
  background-position: 50% 50%;

}



.main-title{
/*  position: absolute;
  !*vertical-align: middle;
  text-align: center;*!
  top: 50%;
  left: 50%;*/
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  font-size: 55px;
}

input {
  border: 1px solid black;
  border-radius: 15px;
  width: 170px;
  padding: 10px;
  font-family: 'FontAwesome';

} /* This is for the placeholder */

.wrapper:before {
  font-family: 'FontAwesome';
  color: #1a32ff;
  position: relative;
  left: 155px;
  content: "\f002";
}

.search{
  background-color: rgba(255,255,255,0.7);
}

/*[type="text"], [type="email"], [type="search"] {
  width: 100%;
  border-bottom: 1px solid #333333;
  font-family: $PlayFairFont;
  color: #333333;
  word-spacing: -0.5px;
  &::placeholder {
    transition: opacity 2s;
  }
  &:focus{
    &::placeholder {
      opacity: 0;
    }
    outline: none;
  }
}*/

/*
input{

    padding-top: 10px;
   // padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid;
    border-radius: 30px;
    background: none;
    font-size: 14px;
}
*/

//------------------------------------------------------------
/*
.class SOMESSS {
  width: 360px;
  height: 240px;
  margin: 100px auto;
  background-image: linear-gradient(#54d054 84.3%, #54d054 84.3%, #3eba3e 15.7%, #3eba3e 15.7%);
  box-shadow: 1px 1px 3px #333333;


  .flag {
    width: 360px;
    height: 240px;
    margin: 100px auto;
    background-image: linear-gradient(#333333 74.4%, #333333 74.4%, #222222 25.6%, #222222 25.6%);
    box-shadow: 1px 1px 3px #333333;
}


}*/

.social-icon{
  text-align: center;
  width: 90px;
  background-color: #c5e9c5;
  border: 1px solid #c5e9c5;
  border-radius: 10px;
  //background-color: red;
}

.fa-twitter{

  color: white;
}
.fa-facebook{

  color: white;
}
.fa-dribbble{
  color: #ea4c89;
}
.social-item{
  border: 1px solid #c5e9c5;
  border-radius: 50%;
  max-width: 24px;
  width: 100%;
  background-color: #c5e9c5;
}

.social-item-facebook{
  border: 1px solid #c5e9c5;
  border-radius: 50%;
  max-width: 24px;
  width: 100%;
  background-color: #1c74f7;
}

.social-item-twitter{
  border: 1px solid #c5e9c5;
  border-radius: 50%;
  max-width: 24px;
  width: 100%;
  background-color: #00aced;

}


.social-item + .social-item{
//  margin-left: 5px;
}