.our-work{
  width: 1170px;
}
.title-menu{
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.work-menu{
  display: inline-block;
  text-align: center;
  /*vertical-align: middle;
  max-width: 270px;*/
  width: 100%;
}

.work-list{
  width:1030px;
  margin: 0 auto;
}

.work-item{
  width: 265px;
}

.image-work{
  max-width: 145px;
  width: 100%;
  background-color: $color-background-icon;
  border-radius: 22px;
  padding-bottom: 35px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  color: $color-button-background;
  margin: 0 auto;
}

