@import "variables";
@import "fonts";
@import "reset";
@import "typography";
@import "util";



//base styles, and base classes like wrappers, containers or clearfix...


.container{
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;

  @include breakpoint("large"){
    max-width: 1200px;
  }

  @include breakpoint("medium"){
    max-width: 960px;
  }

  @include breakpoint("extra-small"){
    max-width: 720px;
  }
  @include breakpoint("small-tablet-portrait"){
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
  }
}



.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
