//typography: base styles for fonts, p, a, standard h1, h2 ...

a{
  font-family: $ProximaRegular;
  font-size: 16px;
  font-weight: 300;
 // text-transform: uppercase;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

p{
  font-family: $ProximaRegular;
  font-size: 16px;
}

h2{
  font-family: $ProximaRegular;
  font-size: 30px;
  line-height: 1;
}