//$varibles color and sizes



$PlayFairFont:'PlayfairDisplay', serif;
$Inconsolata:'Inconsolata', monospace;
$Ubuntu:'Ubuntu',sans-serif;

$MontserratBold:'MontserratBold',sans-serif;
$MontserratLight:'MontserratLight',sans-serif;
$NautilusRegular:'Nautilus Pompilius';
$ProximaBold:'ProximaBold',sans-serif;
$ProximaLight:'ProximaLight',sans-serif;
$ProximaRegular:'ProximaRegular',sans-serif;

$color-title-font-header:#ffffff;
$color-title-text:#828081;


$background-for-our-client:#f2f0f1;
$color-button-background:#54d054;
$color-button-background--active:#2b9b2b;
$color-background-icon:#e2f3e1;

$background-meet-team:#3eba3e;

$background-footer:#333333;
$background-footer-recent-post-1:#54d254;
$background-footer-recent-post-2:#fdb900;
$background-footer-recent-post-3:#45b6f2;
$background-footer-recent-post-4:#f14e03;
$background-email-form:#444444;




